.boton-celeste {
    background: #54ccfc;
    color: white;
    border: 1px solid #979797;
    font-size: 20px;
    padding: 1.5rem 2rem;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}