.hashtag {
    width: 145px;
    height: 45px;
    background-color: $pink;
    color: white;
    margin: .5rem;
    font-family: 'PT Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}