.images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 700px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    img {
        height: 150px;
        width: 160px;
        margin: .3rem;
        -o-object-fit: cover;
           object-fit: cover;
    }

    :nth-child(5) {
        width: 668px;
        height: 185px;
        -o-object-position: 0 40%;
           object-position: 0 40%;
    }

    :nth-child(7), :nth-child(9) {
        height: 245px;
    }
}