.navbar {
    border: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

    a {
        padding-left: 2rem;
        text-decoration: none;
        color: black;
    }
    
}