.navbar {
    border: 1px solid #979797;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    &__links {
        font-family: 'PT Mono', monospace;
        font-weight: bold;
        color: black;

        span {
            padding-left: 1rem;
        }
    }
}